# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/


# ----------------------------
# PyInstaller
# ----------------------------
build/
dist/
*.spec

# macOS
.DS_Store

# Windows
Thumbs.db

# Linux
*.so


# ----------------------------
# Logs
# ----------------------------
*.log


# ----------------------------
# IDE
# ----------------------------
.vscode/
.idea/


# ----------------------------
# Tkinter temp files
# ----------------------------
*.bak
